@font-face {
  font-family: 'Arial Rounded MT';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Rounded MT'), url('../font/arial-rounded-mt.woff') format('woff');
}

@font-face {
  font-family: 'Arial Rounded MT Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Rounded MT Bold'), url('../font/arial-rounded-mt-bold.woff') format('woff');
}