:root {
  /* based on https://colorhunt.co/palette/fde5ecfcbaade48586916db3 */
  --color-peach: #FDE5EC;
  --color-peach-dark: #e27393;
  --font-body: 'Gabarito', cursive;
  --font-display: 'Gabarito', cursive;
  --header-height: 100px;
  --header-height-mobile: 80px;
}
