doctype
html(lang="en")
  head
    block head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../css/style.scss")
    link(rel="icon" type="image/png" href="../img/favicon.png")
  body
    include ../includes/header
    #loader
      include ../includes/loader.html
    block content
    script(type="module" src="../js/index.js")