header
  .container
    - var nav = ['About', 'Work', 'Contact']
    - var navLinks = ['/about', '/work', '/contact']
    .content
      ul.header-nav
        li
          a(href="").logo-wrapper
            include logo.html
        each item, i in nav
          li
            a(href=navLinks[i]) #{item}