header
  .container
    - var nav = ['About', 'Work', 'Contact']
    - var navLinks = ['/about', '/work', '/contact']
    .content
      a(href="").logo-wrapper
        include logo-new.html
      ul.header-nav
        each item, i in nav
          li
            a(href=navLinks[i]) #{item}
      ul.menu-nav
        li.burger-menu-wrapper
          .burger-menu
            .icon