header
  .container
    - var nav = ['About', 'Work']
    - var navLinks = ['/about', '/work']
    .content
      a(href="").logo-wrapper
        include logo-new.html
      ul.header-nav
        each item, i in nav
          li
            a(href=navLinks[i]) #{item}
        li
          a(href="mailto:sumatrancat@gmail.com") Hire Me
      ul.menu-nav
        li.burger-menu-wrapper
          .burger-menu
            .icon