header
  .container
    - var nav = ['About', 'Work']
    - var navLinks = ['/about', '/work']
    .content
      .left
        a(href="").logo Sumatrancat 
        ul.header-nav
          each item, i in nav
            li
              a(href=navLinks[i]) #{item}
          li
            a(href="mailto:sumatrancat@gmail.com") Hire Me
      ul.menu-nav
        -var menu = ['Home', 'About', 'Work', 'Contact']
        -var moreMenu = ['Resume', 'Twitter / X', 'YouTube', 'GitHub']
        li#menu-wrapper
          #menu
            .menu-items
              each item in menu
                a(href="#" class="menu-item") #{item}
            .more-menu-items
              each item in moreMenu
                .item-wrapper
                  a(href="#" class="menu-item") #{item}
          .menu-trigger
            .icon