header
  .container
    - var nav = ['About', 'Work', 'Contact']
    - var navLinks = ['/about', '/work', '/contact']
    .content
      .header-nav-wrapper
        a(href="").logo-wrapper
          include logo.html
        ul.header-nav
          each item, i in nav
            li
              a(href=navLinks[i]) #{item}