header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .container {
    display: grid;
    height: var(--header-height);
    align-items: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.logo-wrapper {
  margin-right: 25px;
}

.header-nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0;

  li:not(:last-child) {
    margin-right: 25px;
  }

  a {
    display: block;
    font-size: 14px;
    line-height: 1;
  }
}

.logo-wrapper {
  svg {
    width: 40px;
    // 48 is the right width to match the burger menu height
    // width: 48px;
  }
}

.menu-nav {
  margin-left: auto;
}

#menu-wrapper {
  position: relative;

  &.menu-is-active {
    #menu {
      opacity: 1;
      pointer-events: auto;
    }
    .menu-trigger .icon {
      transform: rotate(90deg);
    }
  }
}

#menu {
  position: absolute;
  // top: 0;
  // right: 0;
  // width: 40px;
  // height: 40px;
  top: -10px;
  right: -10px;
  width: 300px;
  padding: 60px 10px 30px;
  // height: 250px;
  background-color: white;
  border-radius: 27.5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.15);
  opacity: 0;
  pointer-events: none;
  transition: .3s all ease;
  // display: none;
}

.menu-items {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  a {
    display: block;
    padding: 8px 15px;
    transition: .3s all ease;
    border-radius: 100px;
    &:hover {
      background-color: #eee;
    }
  }
}

.more-menu-items {
  border-top: 1px solid #ddd;
  margin: 15px 15px 0;
  padding-top: 20px;
  font-size: 15px;
  div:not(:last-child) {
    margin-bottom: 5px;
  }
  a {
    display: inline-block;
  }
}

.menu-trigger {
  // this setting below is the exact width of the logo's face
  // width: 33px;
  // height: 33px;
  // transform: translateX(-70px);

  width: 40px;
  height: 40px;
  display: block;
  background-color: #f2bbcb;
  border-radius: 20px;
  display: grid;
  align-items: center;
  cursor: pointer;
  transition: .3s all ease;
  position: relative;
  &:hover {
    opacity: .85;
  }

  .icon {
    display: flex;
    margin: auto;
    transform-origin: center center;
    transition: .3s all ease;
    &:before, &:after {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background-color: black;
      border-radius: 50%;
    }
    &:before {
      margin-right: 4px;
    }
  }
}

@include below(md) {
  .header-nav {
    display: none;
    opacity: .25;
  }

  header {
    .container {
      height: var(--header-height-mobile);
    }
  }
}