header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .container {
    display: grid;
    height: 100px;
    align-items: center;
  }

  .content {
    width: 100%;
  }
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  margin-right: 30px;
}

.header-nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;

  li:not(:last-child) {
    margin-right: 30px;
  }
}

.logo-wrapper {
  svg {
    width: 40px;
  }
}

@include below(md) {
  .header-nav {
    display: none;
    opacity: .25;
  }
}