extends templates/layout

block head
  title Sumatrancat - Creative Developer

block content
  section#home
    .content-wrapper
      #home-title
        include includes/home-title.html
        .button-wrapper
          a.button(href="/work") check out my work
    .animation-wrapper
      //- better id and classes
      //- .canvas-wrapper(data-artboard="desk")
      #rive
        #desk.canvas-wrapper
          //- .screen
          a#work-trigger.page-trigger(href="#" data-to="Work") 
            video.screen(muted playsinline autoplay loop)
              source(type="video/mp4" src="../../public/video/reel.mp4")
          canvas.artboard-desk(width="400" height="450")
        #music.canvas-wrapper
          canvas.artboard-music(width="400" height="350")
          //- .guitar-wrapper          
          //-   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 227">
          //-     <path id="guitar-trigger" fill="red" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="5" d="M33.291 45.652a8 8 0 0 1-.536-5.796l8.37-29.108A10.74 10.74 0 0 1 50.736 3l.873-.058a10.314 10.314 0 0 1 9.786 5.44 8.188 8.188 0 0 1-1.989 10.146l-2.8 2.33 2.64 19.627a2 2 0 0 1-.403 1.494L53 49.5l.88 82.628a9.239 9.239 0 0 0 13.834 4.571L68 136.5c6.903-5.005 1.142-7.96 2.563-10.178.329-.513.912-.776 1.608-.866l-.013-.03c7.168-.772 12.021-.295 14.558 1.43 4.835 3.288 5.54 10.674 2.587 17.762-2.953 7.088-7.49 8.15-8.181 16.348-.692 8.2 11.722 18.012 11.8 34.816C93 212.586 79.492 223.9 52.21 223.9a94.19 94.19 0 0 1-4.53-.106c-1.445.07-2.936.106-4.47.106C15.928 223.9 3 212.937 3 195.782s11.88-21.696 11.88-34.328C14.88 148.822 4.612 132 4.612 122c0-8.874 3.572-14.837 8.382-14.871l-.007-.129c6.96-.704 10.988.604 12.084 3.925 1.645 4.98-2.49 10.696 3.134 19.22a.231.231 0 0 0 .05.055c1.777-.053 3.743-.411 5.898-1.074L35 49.5h.22l-1.929-3.848Z"/>
          //-   </svg>
        #social-resume.canvas-wrapper
          canvas.artboard-social-resume(width="250" height="300")
          .social-links
            a(data-social="Twitter" href="https://twitter.com/sumatrancat" target="_blank").page-trigger
            a(data-social="Youtube" href="https://youtube.com/@sumatrancat" target="_blank").page-trigger
            a(data-social="Github" href="https://github.com/sumatrancat" target="_blank").page-trigger
          a#resume-trigger.page-trigger(href="/resume") 
        #character.canvas-wrapper
          canvas.artboard-sc(width="400" height="400")