extends templates/layout

block head
  title Sumatrancat

block content
  section#home
    .content-wrapper
      #home-title
        include includes/home-title.html
        .button-wrapper
          a.button(href="/work") check out my work
    .animation-wrapper
      //- better id and classes
      //- .canvas-wrapper(data-artboard="desk")
      #rive
        #desk.canvas-wrapper
          //- .screen
          a#work-trigger.page-trigger(href="/work") 
            video.screen(muted playsinline autoplay loop)
              source(type="video/mp4" src="../../public/video/reel.mp4")
          canvas.artboard-desk(width="400" height="450")
        #music.canvas-wrapper
          canvas.artboard-music(width="400" height="350")
        #social-resume.canvas-wrapper
          canvas.artboard-social-resume(width="250" height="300")
          .social-links
            a(data-social="Twitter" href="https://twitter.com/sumatrancat" target="_blank").page-trigger
            a(data-social="Youtube" href="https://youtube.com/@sumatrancat" target="_blank").page-trigger
            a(data-social="Github" href="https://github.com/sumatrancat" target="_blank").page-trigger
          a#resume-trigger.page-trigger(href="/resume") 
        #character.canvas-wrapper
          canvas.artboard-sc(width="400" height="400")