@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

@import 'utils/mdqs';

@import 'base/font';
@import 'base/reset';
@import 'base/variables';
@import 'base/container';

@import 'components/header';

@import 'pages/home';

body {
  background-color: var(--color-peach);
  font-family: var(--font-body);
  overflow: hidden;
}