@import url('https://fonts.googleapis.com/css?family=Gabarito:wght@100..900');

@import 'utils/mdqs';

@import 'base/reset';
@import 'base/variables';
@import 'base/container';

@import 'components/loader';
@import 'components/header';

@import 'pages/home';

body {
  background-color: var(--color-peach);
  font-family: var(--font-body);
  overflow: hidden;
  // filter: grayscale(1);
}

// gokil bray